$colors: (
  red,
  blue,
  green,
  yellow,
  orange,
  purple,
  cyan,
  magenta,
  teal,
  pink,
  lime,
  brown,
  navy,
  indigo,
  maroon,
  olive,
  turquoise,
  violet,
  gold,
  silver
);

@mixin adjustCards() {
  $q: 1;

  $startHeight: 45rem;
  $startWidth: calc(45rem / 1.4);
  $decreaseAmount: 1;

  $children: 12;

  z-index: 1;
  transform: translateX(-100%); //Start all card things in the center
  position: absolute;

  @for $i from 1 through $children {
    //I need to select 2 pararell children at a time
    //I need to apply the same scaling to them
    //I need to move them in opposite directions.

    &:nth-child(#{$i}) {
      @debug $i;
      $startHeight: $startHeight * $decreaseAmount;
      $startWidth: $startWidth * $decreaseAmount;
    }
    //only adjust on every other i+1
    @if $i%2==0 {
      @debug ADJUSTING VALUES; //here the values get changed so that in the next loop the changes are adjusted.
      $decreaseAmount: $decreaseAmount * 0.95;
    }
  }
}

.container {
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    .card-display {
      height: 45rem;
      width: calc(45rem / 1.4);
      border: 1px solid rgb(255, 0, 0);
      z-index: 100;
    }
    .background-cards {
      display: flex;
      align-items: center;
      .background-card {
        border: 0.1rem solid white;
        position: absolute;
        height: 45rem;
        width: calc(45rem / 1.4);
        @include adjustCards();
      }
    }
  }
}
