$cardShadow: black 0rem 0rem 20rem 5rem;

.container {
  background-color: rgba(0, 0, 0, 0.596);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .cards {
    display: flex;
    align-items: center;
    justify-content: center;

    .card-display {
      height: 50vh;
      width: calc(50vh / 1.4);
      z-index: 101;
      box-shadow: $cardShadow;
      border-radius: 1rem;

      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; /* Aligns the background image to the center of the container */
    }
  }
}
