$cardShadow: black 0rem 0rem 20rem 5rem;

@mixin adjustCards() {
  $startHeight: 45vh;
  $startWidth: calc(45vh / 1.4);
  $decreaseAmount: 1;
  $leftAmount: 50vw;
  $rightAmount: 34vw;
  $children: 12;
  $z-index: 100;

  @for $i from 1 through $children {
    &:nth-child(#{$i}) {
      height: $startHeight * $decreaseAmount;
      width: $startWidth * $decreaseAmount;
      z-index: $z-index;

      @if $i % 2 == 0 {
        left: $leftAmount;
      } @else {
        left: $rightAmount;
      }
    }

    @if $i % 2 == 0 {
      $decreaseAmount: $decreaseAmount * 0.95;
      $leftAmount: $leftAmount + 6vw;
      $rightAmount: $rightAmount - 6vw;
      $z-index: $z-index - 1;
    }
  }
}

.background-cards {
  display: flex;
  align-items: center;
  .background-card {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.4s ease;

    @include adjustCards();
    .background-card-inner {
      transition: 0.4s ease;
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transform-style: preserve-3d;
      .background-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 1vw;
        img {
          width: 100%;
        }
      }
      .background-card-front {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        color: white;
        transform: rotateY(180deg);
        background-color: rgb(130, 7, 164);
        border-radius: 1vw;

        img {
          height: 52vh;
          width: calc(52vh / 1.4);
        }
      }
    }
  }
  .background-card:hover {
    transform: translateY(-10%);
  }
  .background-card:active {
    z-index: 205;
    left: 40.25%;
    top: 25%;
  }
  .background-card-inner:active {
    height: 52vh;
    width: calc(52vh / 1.4);
    transform: rotateY(180deg);
  }
}
